body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: max-content;
    font-family: 'Gilroy';
    color: #CC2C4F;
    padding: 10px;
}

#salary {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #EBF5ED;
    padding: 20px;
}

.split {
    width: 100%;
    height: 1px;
    background-color: 1px solid #555;
}
